* {
    margin: 0;
    padding: 0;
}
html,
body{
    background-color: black;
}
#box1{
    height: 300px;
    width: 300px;
    background-color: crimson;
}
#box2{
    height: 300px;
    width: 300px;
    background-color: green;
}
#box3{
    height: 300px;
    width: 300px;
    background-color: blue;
}
#box4{
    height: 300px;
    width: 300px;
    background-color: red;
    text-align: center;
}